* {
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
}

body {
    font-family: "arial", helvetica, sans-serif;
    height: 100vh;
}
/* cabecalho */
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: #dadada;
    padding: 1rem;
}
.dev {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    box-shadow: 2px 2px 12px #2a2a2a;
    border: 2px solid white;
}
.redesSociais {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.redesSociais img {
    width: 24px;
}
.cabecalho h1 {
    text-align: left;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
    padding: 0;
}
.cabecalho p {
    margin: 0;
    color: #5b5b5b;
}

/* design */
.design {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.designs {
    margin: 2rem 1rem;
    background: #dadada;
    width: 50%;
    padding: 1rem;
    height: 80px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.designs2 {
    margin: 1rem;
    border: 2px solid #dadada;
    width: 50%;
    padding: 1rem;
    height: 80px;
    background: transparent;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
/* btn */
.btn-orcamento {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.btn-orcamento a {
    text-decoration: none;
    background: #00BFFF;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.5rem;
}
.btn-orcamento a:hover {
    box-shadow: 2px 2px 10px #00BFFF;
}

/* tecnologias */
.tecnologiasA {
    text-align: center;
}
.ferramentas {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.item {
    text-align: center;
}
.item p {
    margin: 0;
}
.ferramentas img {
    width: 50px;
    object-fit: cover;
    object-position: center center;
}


/* meus projetos */
.meusProjetos {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: black;
}
/* projetos */
.projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    max-width: 900px;
    margin: auto;
    padding: 0 1rem;
}
.projetoItem {
    min-height: 450px;
    height: 550px;
    /*background: #dadada;*/
    background: transparent;
    box-shadow: 2px 2px 10px #dadada;
    border: 2px solid #c5c5c5;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    transition: transforme 0.3s ease;
}
.projetoItem img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center top;
    border-radius: 1rem;
}
.descricao {
    color: #5e5e5e;
    font-size: 0.8rem;
    text-align: justify;
    background: #dadada;
    padding: 0.9rem;
    border-radius: 1rem;
    height: 90px;
    display: flex;
    align-items: center;
}
.projetoItem a {
    background: #00BFFF;
    padding: 0.4em 2rem;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    text-transform: capitalize;
}
.especificacoes {
    text-align: center;
}
.especificacoes h3 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.especificacoes p {
    margin: 0.3rem;
    padding: 0;
    color: #585858;
    font-size: 1rem;
}
.projetoItem a:hover {
    box-shadow: 2px 2px 10px #00BFFF;
}
.projetoItem:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
.rodape {
    background: #2a2a2a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
    padding: 1rem;
}
.rodape p {
    color: white;
    font-size: 0.8rem;
}
.rodape a {
    background: white;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a[href=""]:hover{
    background: red;
}

a::before {
    
}
.fa-whatsapp {
    color: green;
    font-size: 1.5rem;
}
.fa-youtube {
    color: red;
    font-size: 1.5rem;
}
.fa-linkedin {
    color: royalblue;
    font-size: 1.5rem;
}



/* contato whatsapp */
.contato {
    position: fixed;
    bottom: 1rem;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contato p {
    background: green;
    padding: 1em;
    width: 110px;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 0.8em;
    color: white;
    position: relative;
}
.contato p::before {
    content: "";
    width: 15px;
    height: 15px;
    background: green;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50px;
    right: 50px;
    transform: rotate(45deg);
}
.contato i {
    font-size: 5rem;
}


@media only screen and (max-width: 600px){
    .projetos {
        display: block;
    }
    .projetoItem {
        margin: 3rem 1.5rem;
    }
    .cabecalho {
        display: block;
        text-align: center;
    }
    .cabecalho h1 {
        text-align: center;
    }
    .redesSociais {
        padding: 1rem 0;
        justify-content: flex-start;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .design {
        display: block;
        padding: 1rem;
    }
    .designs {
        width: 100%;
        padding: 0.8rem;
        margin: 0 0 1rem 0;
    }
    .designs2 {
        width: 100%;
        margin: 0;
        padding: 0.8rem;
        
    }
    .btn-orcamento a {
        display: inline-block;
        margin: 1rem;
    }
}
